<h1>Carrito de Compras</h1>

<ul id="cart-products-list">
    {{#each cart.products}}
        <li id="product-{{this.product._id}}">
            {{this.product.title}} - Cantidad: {{this.quantity}}
            <button onclick="removeFromCart('{{../cart._id}}', '{{this.product._id}}')">Eliminar</button>
        </li>
    {{/each}}
</ul>

<a href="/">Volver a la tienda</a>
<script src="/assets/js/cart.js"></script>
